body
{
    text-align: right;
    font-family: Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
}
#rss
{
    width: 80%;
    text-align: center;
    color: slateblue;
    padding: 0em;
    border: 0 0 0 0;

}

#container h1
{
    font-size: 20px;
}